@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Roboto+Mono:wght@100&display=swap');

.card {
  max-width: 360px;
  background-color: #fd7557;
  border-radius: 25px;
  padding: 30px;
  font-family: 'Poppins', sans-serif;

  &__item {
    padding: 10px;
  }

  &__plan {
    font-size: 22px;
  }

  &__price {
    font-weight: 600;
    font-size: 40px;
  }
}

// Override para a cor do track ativo do slider dentro do componente de card
:host ::ng-deep mat-slider .mdc-slider__track--active_fill {
    border-color: black !important
}

.emulated {
  background-color: red
}

::ng-deep .emulated_ng_deep {
   background-color: brown
}

.card-cancel-button {
  background-color: purple !important;
}
