// Override para a cor do track ativo do slider
.mdc-slider__track--active_fill {
    border-color: yellow !important;
}

.emulated {
  background-color: white !important;
}

// .card-cancel-button {
//   background-color: pink !important;
// }
